 <footer class="footer">
    <div class="container footer-main">
      <a href="index.html" class="nav-logo footer-logo" aria-label="Studio4 Marketing">
        <span class="logo-mark">
         <img src="../BANNERS/LOGO_STUDIO4.png" alt="">
        </span>
        <span class="logo-sub">Marketing</span>
      </a>
      <nav class="footer-nav" aria-label="Navegación footer">
        <a href="../INDEX.HTML" class="footer-link">INICIO</a>
        <a href="../PLANS.HTML" class="footer-link">PLANES</a>
        <a href="../PORTFOLIO.HTML" class="footer-link">PORTAFOLIO</a>
        <a href="#contacto" class="footer-link">CONTACTO</a>
      </nav>
      <div class="footer-social" aria-label="Redes sociales">
        <a href="#" class="social-icon" aria-label="Instagram">
          <img src="../ICONS/NETWORK ICONS/INSTAGRAM.png" alt="">
        </a>
        <a href="#" class="social-icon" aria-label="Facebook">
          <img src="../ICONS/NETWORK ICONS/FACEBOOK.png" alt="">        </a>
        <a href="#" class="social-icon" aria-label="WhatsApp">
            <img src="../ICONS/NETWORK ICONS/WHATSAPP.png" alt="">        </a>
        <a href="#" class="social-icon" aria-label="YouTube">
            <img src="../ICONS/NETWORK ICONS/YOUTUBE.png" alt="">        </a>
      </div>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-bottom">
      <p>
      ©STUDIO4 MARKETING <span id="year"></span> TODOS LOS DERECHOS RESERVADOS
      &nbsp;|&nbsp; DESARROLLADO POR A W SOFTWARE
    </p>
  </footer>

  <script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>