 <footer class="footer">
    <div class="container footer-main">
      <a href="index.html" class="nav-logo footer-logo" aria-label="Studio4 Marketing">
        <span class="logo-mark">
         <img src="../banners/LOGO_STUDIO4.png" alt="">
        </span>
      </a>
      <nav class="footer-nav" aria-label="Navegación footer">
        <a href="../index.html" class="footer-link">INICIO</a>
        <a href="../plans.html" class="footer-link">PLANES</a>
        <a href="../portfolio.html" class="footer-link">PORTAFOLIO</a>
        <a href="../index.html#contacto" class="footer-link">CONTACTO</a>
      </nav>
      <div class="footer-social" aria-label="Redes sociales">
        <a href="#" class="social-icon" aria-label="Instagram">
          <img src="../icons/NETWORK ICONS/INSTAGRAM.png" alt="">
        </a>
        <a href="#" class="social-icon" aria-label="Facebook">
          <img src="../icons/NETWORK ICONS/FACEBOOK.png" alt="">        </a>
        <a href="#" class="social-icon" aria-label="WhatsApp">
            <img src="../icons/NETWORK ICONS/WHATSAPP.png" alt="">        </a>
        <a href="#" class="social-icon" aria-label="YouTube">
            <img src="../icons/NETWORK ICONS/YOUTUBE.png" alt="">        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
      ©STUDIO4 MARKETING <span id="year"></span> TODOS LOS DERECHOS RESERVADOS
        &nbsp;|&nbsp; DESARROLLADO POR A W SOFTWARE
    </div>
  </footer>

  